* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--base-font-size: 62.5%;
	--primary-color: #1f75fe;
	--secondary-color: #f2f2f2;
	--tertiary-color: #6f61ff;
	--text-color-dark: #000000;
	--text-color-white: #ffffff;
	--text-color-light: #737373;
	--text-color-alt: #b3b0b0;
	--grey-base: #f2f2f2;
	--warning: #ff0000;
	--green-color: #05a615;
	--green-color-bg: #e7f5ec;
	--primary-color-bg-opacity: #1f75fe0d;
	--inactive-btn: #d1d0d0;
}

html {
	max-width: 425px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

body {
	font-family: 'Onest', sans-serif;
	font-size: var(--base-font-size);

	height: max-content;
}

label {
	display: block;
	font-weight: 500;
	font-size: 1.4em;
	margin-bottom: 10px;
	color: var(--text-color-light);
}

input {
	border: 1px solid var(--grey-base);
	background-color: transparent;
	padding: 20px 18px;
	width: 100%;
	color: var(--text-color-dark);
	font-size: 1.4em;
	border-radius: 5px;
	-moz-appearance: textfield; /* Firefox */
	appearance: textfield;
}

input::placeholder {
	color: var(--text-color-alt);
}

input:not(:last-child) {
	margin-bottom: 24px;
}

table,
tbody {
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
	font-family: inherit;
	color: var(--text-color-light);
}

td,
th {
	padding: 25px 5px;
	text-align: left;
}

.section {
	padding: 30px 22px;
}

.input-container {
	margin-top: 4.1em;
}

.currencies {
	display: flex;
	gap: 6px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.input-amount:focus {
	outline: none;
	text-align: right;
}
